@import "../../styles/vars.scss";
@import "../../styles/fonts/fonts.css";

.projects {

  &_title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {

  .projects {

    &_title {
      text-align: left;
      font-size: 3rem;
      margin: 5rem 0;
    }
  }
}

@media only screen and (min-width: 1440px) {

  .projects {

    width: 50%;

    &_title {
      width: 80%;
      text-align: left;
      font-size: 4rem;
      margin: 10rem auto 4rem;
    }
  }
}