@import "./fonts/fonts.css";
@import "./vars.scss";

html {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #181818;
  color: $lightGrey;
  cursor: default;
}

h1 {
  font-family: 'RobotoCondensedBold', Arial, sans-serif;
}

button {
  font-family: 'RobotoCondensedBold', Arial, sans-serif;
}