@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: 'PoppinsBold';
    src: url("../fonts/Poppins-Bold.ttf");
}

html {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #181818;
}