.container {

  &_main {
    margin: 9rem auto 0;
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    
    &_main {
      width: calc(100% - 240px);
      margin: 3rem auto 0;
      padding-right: 60px;
    }
  }
}