@import "../../styles/vars.scss";

.st0 {
  fill: none;
  stroke-dasharray: 850;
  stroke-dashoffset: 850;
  animation: dashGrey 6.5s linear forwards;
}

.st1 {
  fill: none;
  stroke-dasharray: 850;
  stroke-dashoffset: 850;
  animation: dashBlue 6.5s linear forwards;
}

@keyframes dashGrey {
  80% {
    fill: $darkGrey;
  }
  to {
    stroke-dashoffset: 0;
    stroke-width: 0;
    fill: lightGrey;
  }
}

@keyframes dashBlue {
  80% {
    fill: $darkGrey;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
    fill: $blue;
  }
}