@import "../../styles/vars.scss";
@import "../../styles/fonts/fonts.css";

.contact {

  padding: 9rem 2rem;

  &_left {
    
    &_title {
      font-size: 2rem;
      font-weight: bold;
      line-height: 2.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  
    &_form {
      
      &_line {
        
        &_input, &_textArea {
          width: 100%;
          box-sizing: border-box;
          font-family: 'Poppins', Arial, sans-serif;
          border: none;
          padding: .6rem 1rem;
          margin-bottom: 1rem;
          font-size: 1rem;
          color: $grey;
          outline: none;
          background-color: #2B2B2B;
  
          &:focus {
            -webkit-box-shadow: inset 0px 0px 0px 2px $blue;
            -moz-box-shadow: inset 0px 0px 0px 2px $blue;
            -o-box-shadow: inset 0px 0px 0px 2px $blue;
            box-shadow: inset 0px 0px 0px 2px $blue;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
            color: white;
          }
        }
  
        &_textArea {
          resize: none;
          height: 20vh;
        }
  
        &_button {
          cursor: pointer;
          display: block;
          margin-left: auto;
          color: $darkGrey;
          font-size: .8rem;
          letter-spacing: .1rem;
          text-transform: uppercase;
          padding: .8rem .5rem;
          border-radius: 25px;
          background-color: $blue;
          border: none;
          outline: none;
          -webkit-transition: all .3s ease-out;
          -moz-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
          animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) both;
          animation-delay: 4s;
          
          &:hover {
            -webkit-box-shadow: inset 0px 0px 0px 2px $blue;
            -moz-box-shadow: inset 0px 0px 0px 2px $blue;
            -o-box-shadow: inset 0px 0px 0px 2px $blue;
            box-shadow: inset 0px 0px 0px 2px $blue;
            background-color: $darkGrey;
            color: $blue;
          }
        }
      }
    }
  }

  &_right {
    margin: 5rem 0;
    width: 100%;
    height: 500px;

    &_marker {
      padding: .5rem;
      height: 2rem;
      width: 2rem;
      background-color: $black;
      border-radius: 100%;
    }
  }
}

@media only screen and (min-width: 1024px) {

  .contact {

    display: flex;
    padding: 0;
    width: calc(100vw - 60px);
    align-items: center;

    &_left {

      width: 40%;
      padding-left: 5rem;
      margin: auto;

      &_title {

        text-align: left;
        font-size: 3rem;
        margin: 5rem auto;
      }

      &_form {

        width: 80%;
        
        &_line {

          &_button {
            font-size: 1rem;
          }
        }
      }
    }

    &_right {
      width: 50%;
      height: 100vh;
      margin: 0;
    }
  }
}

@media only screen and (min-width: 1920px) {

  .contact {

    &_left {

      &_title {

        font-size: 4rem;

      }

      &_form {
        
        &_line {

          &_button {
            font-size: 1.2rem;
            padding: .8rem .6rem;
          }
        }
      }
    }
  }
}