@import "../../styles/vars.scss";
@import "../../styles/fonts/fonts.css";

.contact {

  &_title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    letter-spacing: .1rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &_form {
    
    &_line {
          
      &_input, &_textArea {
        width: 100%;
        box-sizing: border-box;
        font-family: 'Poppins', Arial, sans-serif;
        border: none;
        padding: .6rem 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        background-color: $grey;
        color: $lightGrey;
        outline: none;

        &:focus {
          -webkit-box-shadow: inset 0px 0px 0px 2px $blue;
          -moz-box-shadow: inset 0px 0px 0px 2px $blue;
          -o-box-shadow: inset 0px 0px 0px 2px $blue;
          box-shadow: inset 0px 0px 0px 2px $blue;
          -webkit-transition: all .3s ease-out;
          -moz-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
        }
      }

      &_textArea {
        resize: none;
        height: 20vh;
      }

      &_button {
        display: block;
        margin-left: auto;
        cursor: pointer;
        color: $blue;
        font-size: .75rem;
        letter-spacing: .05rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: .8rem .5rem;
        border-radius: 25px;
        background-color: $darkGrey;
        border: none;
        outline: none;
        -webkit-box-shadow: inset 0px 0px 0px 1px $blue;
        -moz-box-shadow: inset 0px 0px 0px 1px $blue;
        -o-box-shadow: inset 0px 0px 0px 1px $blue;
        box-shadow: inset 0px 0px 0px 1px $blue;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  .contact {

    &_title {
      text-align: left;
      font-size: 2.5rem;
      margin: 5rem 0;
    }
  }
}

@media only screen and (min-width: 1440px) {

  .contact {

    width: 50%;

    &_title {
      width: 80%;
      text-align: left;
      font-size: 3.5rem;
      margin: 10rem auto 4rem;
    }

    &_form {
      width: 80%;
      margin: auto;
      &_line {
        &_button {
          font-size: .8rem;
        }
      }
    }
  }
}



// A bounce effect on the letters
.bounce {
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.3s;
  color: $blue;
}
.bounce:hover, .bounce:focus, .bounce:active {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  -moz-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  -o-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}