@import "../../styles/vars.scss";
@import "../../styles/fonts/fonts.css";

.contact {

  &_title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &_form {
    
    &_line {
      
      &_input, &_textArea {
        width: 100%;
        box-sizing: border-box;
        font-family: 'Poppins', Arial, sans-serif;
        border: none;
        padding: .6rem 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        color: $grey;
        outline: none;
        background-color: #2B2B2B;

        &:focus {
          -webkit-box-shadow: inset 0px 0px 0px 2px $blue;
          -moz-box-shadow: inset 0px 0px 0px 2px $blue;
          -o-box-shadow: inset 0px 0px 0px 2px $blue;
          box-shadow: inset 0px 0px 0px 2px $blue;
          -webkit-transition: all .3s ease-out;
          -moz-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
          color: white;
        }
      }

      &_textArea {
        resize: none;
        height: 20vh;
      }

      &_button {
        cursor: pointer;
        display: block;
        margin-left: auto;
        color: $darkGrey;
        font-size: .8rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        padding: .8rem .5rem;
        border-radius: 25px;
        background-color: $blue;
        border: none;
        outline: none;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) both;
        animation-delay: 4s;
        
        &:hover {
          -webkit-box-shadow: inset 0px 0px 0px 2px $blue;
          -moz-box-shadow: inset 0px 0px 0px 2px $blue;
          -o-box-shadow: inset 0px 0px 0px 2px $blue;
          box-shadow: inset 0px 0px 0px 2px $blue;
          background-color: $darkGrey;
          color: $blue;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  .contact {

    &_title {
      text-align: left;
      font-size: 3rem;
      margin: 5rem 0;
    }
  }
}

@media only screen and (min-width: 1440px) {

  .contact {

    width: 50%;

    &_title {
      width: 80%;
      text-align: left;
      font-size: 4rem;
      margin: 10rem auto 4rem;
    }

    &_form {
      width: 80%;
      margin: auto;
      &_line {
        &_button {
          font-size: 1rem;
        }
      }
    }
  }
}