@import "../../styles/vars.scss";

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  &_header {
    display: flex;
    justify-content: space-between;
    background-color: $black;
  
    &_logoText {
      background-color: black;   
      padding: 0.5rem 1rem;
      color: $lightGrey;
      font-size: 0.6rem;
      display: inline-block;
      text-align: center;
      text-decoration: none;
  
      &_img {
        width: 20px;
        margin-bottom: 0.5rem;
      }
    }
    
    &_burgerIcon {
      display: inline-block;
      color: $blue;
      font-size: 2rem;
      padding: 1rem;
    }
  }
  
  &_bar {
    background-color: $black;
    position: fixed;
    width: 100%;
    left: 100%;
    opacity: 0;
    margin-left: 0;
    float: left;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  
    &_show {
      left: 0;
      opacity: 1;
    } 
    
    &_list {
      display: flex;

      & > li {
        width: 100%;
      }
         
      &_link {
        display: block;
        color: $grey;
        text-decoration: none;
              
        &_icon {
          font-size: 1.8rem;
          padding: 1.1rem 0;
        }
  
        &_active > :nth-child(1n) {
          color: $blue;
        }
      }   
    }
  }
  &_socialList {
    display: none;
  }
}
  

@media only screen and (min-width: 768px) {

  .navigation {
    position: fixed;
    width: 60px;
    top: 0;
    right: 0;
    
    &_header {
      
      &_burgerIcon {
        display: none;
      }
    }
    
    &_bar {
      position: relative;   
      height: 100vh;
      left: 0; 
      opacity: 1;
   
      &_list {
        flex-direction: column;
        margin-top: 15rem;
              
        &_link {
          
          &_icon {
            padding: 0.8rem 0;
          }

          &:hover > :nth-child(1n) {
            -webkit-transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
            opacity: 0;
          }
            
          &::after {
            content: attr(data-hover);
            position: absolute;
            left: 0;
            right: 0;
            padding-top: 1.5rem;
            opacity: 0;
            font-size: 0.7rem;
            color: $blue;
            font-weight: bold;
          }
          
          &:hover::after {
            opacity: 1;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
          }
        }   
      }
    }
    &_socialList {
      display: block;
      position: absolute;
      bottom: 5rem;
      font-size: 1.2rem;
      
      &_link {    
        color: $grey;
        text-decoration: none;
        display: block;
        padding: .5rem 1.2rem;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}