@import "../../styles/vars.scss";

.navigationBar {
  background-color: $black;
  position: fixed;
  width: 100%;

  &_title {
    color: $lightGrey;
    background-color: black;
    display: inline-block;
    padding: 1rem;
    font-size: 0.8rem;
  }
  &_list {
    display: flex;
    justify-content: space-around;
    
    & > li {
      margin-bottom: -5px;
    }

    &_link {
      color: $lightGrey;
      
      &_icon {
        font-size: 1.8rem;
        padding: 1.2rem 0;
        width: calc(100vw/4);
      }

      &_active > :nth-child(1n) {
        color: $blue;
      }
    }   
  }
}

@media only screen and (min-width: 768px) {
  .navigationBar {
    height: 100vh;
    width: 60px;
    right: 0;
 
    &_list {
      flex-direction: column;
            
      &_link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-bottom: 4px;

        &:hover > :nth-child(1n) {
          opacity: 0;
        }

        &:hover:after {
          content: attr(data-hover);
          font-size: 0.7rem;
          color: $blue;
          margin: 0 calc(100%/2);
          font-weight: bold;
          // Need to fix the transition WIP
          -webkit-transition: all 2s ease-out 1s;
          -moz-transition: all 2s ease-out 1s;
          -o-transition: all 2s ease-out 1s;
          transition: all 2s ease-out 1s;
        }
      }   
    }
  }
}